#gameArea {
    width: 800px;
    height: 600px;
    border: 2px solid #000;
    position: relative;
    background-color: #e0f7fa;
}

#crane {
    width: 100px;
    height: 100px;
    background-color: #ff5722;
    position: absolute;
    top: 0;
    left: 0;
}

#prize {
    width: 50px;
    height: 50px;
    background-color: #4caf50;
    position: absolute;
    bottom: 0;
    left: 0;
}

span {
    font-size: 30px;
    position: relative;
    margin: 10px;
}

#rightButton {

    font-size : 300px;
    position:relative;
    margin-left: 200px;
    margin-top: 20px;

}